.label {
  font-size: 12px;
  width: 40px;
}

.bar:hover {
  cursor: pointer;
}

.tooltipWrapper {
  height: 300px;
  overflow: auto;
  flex-direction: column;
  gap: 15px;
  background-color: #464646;
  color: #676b6b;
  padding: 10px 20px;
  font-size: 12px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a4a4a3;
  }

  &::-webkit-scrollbar-track {
    background-color: #676b6b;
  }
}

.tooltip {
  display: flex;
  gap: 5px;
  color: white;
}

.tooltipTitle {
  font-weight: 100;
}

.tooltipText {
  font-weight: 700;
}
